$colors: (
  neutral: (
    100: white,
    400: gray,
    900: black,
  ),
  primary: (
    100: rgb(190, 211, 255),
    400: rgb(61, 61, 255),
    900: darkblue,
  ),
);
  



// $colors: (
//   "primary": (
//     100: rgb(230, 245, 250),
//     400: rgb(92, 92, 184),
//     700: rgb(22, 22, 132),
//     900: rgb(8, 8, 50),
//   ),
//   "neutral": (
//     100: rgb(255, 255, 255),
//     400: rgb(100, 100, 100),
//     700: rgb(50, 50, 50),
//     900: rgb(10, 10, 10),
//   )
// );