$ff-primary: "Open Sans", sans-serif;

$font-sizes: (
  300: 1rem,
  400: 1.125rem,
  500: 1.3125rem,
  600: 1.5rem,
  700: 2rem,
  800: 3rem,
  900: 3.75rem,
);

$fw-light: 300;
$fw-regular: 400;
$fw-bold: 700;
$fw-black: 900;
  