@use "../abstracts/" as *;

.buttons {
  --flex-gap: 1.5rem;
}

.button {
  --pad-block: 1.125em;
  --pad-inline: 2em;

  display: inline-flex;
  cursor: pointer;
  font-weight: $fw-bold;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1;
  border: 0;
  padding: var(--pad-block) var(--pad-inline);

  &[data-type="primary"] {
    background-color: clr(primary, 400);
    color: clr(neutral, 900);
  }

  &[data-type="outline"] {
    --outline-size: 5px;
    background: transparent;
    outline: var(--outline-size) solid clr(neutral, 100);
    color: clr(neutral, 100);
    outline-offset: calc(var(--outline-size) * -1);
  }

  &:is(:hover, :focus) {
    background: clr(neutral, 100);
    color: clr(neutral, 900);
  }
}